.root {
    --au-chico:     #a45d5d;
    --koromiko:     #ffc068;
    --wild-sand:    #f6f6f6;
    --gray:         #8e8e8e;
    --scorpion:     #575757;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
}

a:link {
    color: var(--au-chico);
    font-weight: bold;
    text-decoration: none;
  }

.button {
    background-color: var(--au-chico);
    cursor: pointer;
    display: inline-block;
    color: var(--au-chico);
    border: 10px solid var(--wild-sand);
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 1rem 2rem 1.2rem;
    margin-top: 2rem;
    transition: background-color 300ms, color 300ms;
}

.button:hover {
    color: var(--au-chico);
}